*:focus {
    outline: none;
}

#watch {
    position: fixed;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: gray;
    border-color: white;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    border-style: dashed;
}

#movie {
    display: inline-block;
    height: 100%;
    width: 19%;
    border-style: dotted;
    border-color: white;
}